<header id="encabesado">
    <a href="/">
        <img id="logo" src="/images/imagenesIndex/logo_16_x_16.svg" />
    </a>
    <nav id="barraNavegacion">
        <ul>
            <li><a href="/">Catálogo</a></li>
            <!-- <li><a href="#">Enlace</a></li> -->
        </ul>
    </nav>
    <div id="menuAmbuergesa">
        <label for="desplegar">
            <i class="fas fa-bars"></i>
        </label>
    </div>
    <div id="logos">
        <!-- <a href="/productos/listaProductos"><img  id="addProduct" src="/images/imagenesIndex/add_white_24dp.svg"/></a> -->
        <!-- <a href="/usuarios/listaUsuarios"><img  id="logoShop" src="/images/imagenesIndex/person_add_white_24dp.svg"/></a> -->
        <!-- <a href=""><img  id="logoSearch" src="/images/imagenesIndex/search_white_24dp.svg"/></a> -->
        
        <!-- <a href="/usuarios/loginUsuario"> 
            <img  id="logoShop" src="/images/imagenesIndex/perm_identity_white_24dp.svg"/>
        </a> -->
        <!-- <div>
            <a href="/productos/carritoCompra">
                <label for="desplegar2" id="cart">        
                        <img  id="logoShop" src="/images/imagenesIndex/shopping_cart_white_24dp.svg"/>
                        <p  id="contadorProductos"> </p>
                </label>    
            </a>
        </div> -->
        <!-- <div>

        </div> -->
        <strong id="sesiones">
            <a href="/productos/carritoCompra">
                <label for="desplegar2" id="cart">        
                        <img  id="logoShop" src="/images/imagenesIndex/shopping_cart_white_24dp.svg"/>
                        <p  id="contadorProductos"> </p>
                </label>
            </a>
            <% if(locals.estaLoguado){ %>
                <% if(locals.usuarioLogeado){ %>
                    <div  class="conteUser">
                        <div class="miniaturaImage user minheader">
                            <a href="/usuarios/perfilDeUsuario">    
                                <img src="/images/imagenesUsuarios/<%= locals.usuarioLogeado.image ? locals.usuarioLogeado.image : 'default-image.png' %>" alt="imagenUsuario">
                            </a>
                        </div>
                        <div>
                            <a href="/usuarios/cierreSession" class="enlaceSession">Salir</a> 
                        </div>
                    </div>
                <% } %>                  
            <% } else {%>
                    <div class="conteUser">
                        <div class="miniaturaImage user minheader conteUser">
                            <a href="/usuarios/loginUsuario">
                                <img src="/images/imagenesUsuarios/default-image2.png" alt="imagenUsuario">
                            </a>
                        </div>
                        <div>
                            <a href="/usuarios/loginUsuario" class="enlaceSession">Entrar</a>
                        </div>
                    </div>
            <% } %>
        </strong>
    </div>
</header>
