<header id="encabesado">
    <img id="logo" src="/images/imagenesIndex/logo_16_x_16.svg"/> 
    <nav id="barraNavegacion">
        <ul>
            <li><a href="/">Catálogo</a></li>
            <li><a href="#">Enlace</a></li>
        </ul>
    </nav>
    <div id="menuAmbuergesa">
        <label for="desplegar">
            <i class="fas fa-bars"></i>
        </label>
    </div>
    <div id="logos">
        <a href="/productos/listaProductos"><img  id="addProduct" src="/images/imagenesIndex/add_white_24dp.svg"/></a>
        <a href="/usuarios/listaUsuarios"><img  id="logoShop" src="/images/imagenesIndex/person_add_white_24dp.svg"/></a>
        <a href=""><img  id="logoSearch" src="/images/imagenesIndex/search_white_24dp.svg"/></a>
            <a href="">
                <label for="desplegar2">
                    <img  id="logoShop" src="/images/imagenesIndex/shopping_cart_white_24dp.svg"/>
                </label>
            </a>
        <a href="/usuarios/loginUsuario"> 
            <img  id="logoShop" src="/images/imagenesIndex/perm_identity_white_24dp.svg"/>
        </a>
        <strong>
            <% if(locals.estaLoguado){ %>
                    <% if(locals.usuarioLogeado){ %>
                        <div class="miniaturaImage user minheader">
                            <img src="/images/imagenesUsuarios/<%= locals.usuarioLogeado.image ? locals.usuarioLogeado.image : 'default-image.png' %>" alt="imagenUsuario">
                        </div>
                    <% } %>
                <a href="/usuarios/cierreSession"> Cerrar session </a>
            <% } else {%>
                <a href="/usuarios/loginUsuario">Login</a>
            <% } %>
        </strong>
    </div>
</header>
