<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imagenesIndex/logo_16_x_16.svg" type="image/x-icon">
    <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- fuentes externas -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;600&display=swap" rel="stylesheet"> 
    <!-- hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/modal-styles.css">
    <link rel="stylesheet" href="/css/CarritoCompra.css">
    <link rel="stylesheet" href="/css/DetalleProducto.css">
    <link rel="stylesheet" href="/css/registrarProducto.css">
    <link rel="stylesheet" href="/css/listaProductos.css">
    <link rel="stylesheet" href="/css/listaUsuarios.css">
    <link rel="stylesheet" href="/css/loginUsuario.css">
    <link rel="stylesheet" href="/css/registrarProducto.css">
    <link rel="stylesheet" href="/css/perfilDeUsuario.css">
    <script type="text/javascript" src="/js/listaDeProductosLocalStorage.js"></script>
    <title>EduardiShop</title>
</head>