<div id="central">
            <div id="titulos">
                <div class="galeria">
                    <h2>Galería de imágenes</h2>
                </div>
            </div>
            <div id="borde">
            </div>
            <ul class="cat">
                <li>
                    <a href="#">
                        <img class="min" src="./img/1.jpg" alt="#">
                        <img class="max" src="./img/max/1.jpg" alt="#">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="min" src="./img/2.jpg" alt="#">
                        <img class="max" src="./img/max/2.jpg" alt="#">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="min" src="./img/3.jpg" alt="#">
                        <img class="max" src="./img/max/3.jpg" alt="#">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="min" src="./img/4.jpg" alt="#">
                        <img class="max" src="./img/max/4.jpg" alt="#">
                    </a>
                </li>
            </ul>
</div>