<header id="encabesado">
            <img id="logo" src="/images/imagenesIndex/logo_16_x_16.svg"/> 
            <nav id="barraNavegacion">
                <ul>
                    <li><a href="Index">Catálogo</a></li><!-- esta vista  para productos y cetegorias-->
                    <li><a href="CarritoCompra">Carrito</a></li>
                    <li><a href="#">Enlace</a></li>
                </ul>
            </nav>
            <div id="menuAmbuergesa">
                <label for="desplegar">
                    <i class="fas fa-bars"></i>
                </label>
            </div>
            <div id="logos">
                <img  id="logoSearch" src="/images/imagenesIndex/search_white_24dp.svg"/>
                <img  id="logoShop" src="/images/imagenesIndex/shopping_cart_white_24dp.svg"/>
                <a href="Registro"> <img  id="logoShop" src="/images/imagenesIndex/perm_identity_white_24dp.svg"/></a>
            </div>
</header>