<div>
    <input type="checkbox" name="desplegar" id="desplegar" hidden>
    <ul id="menuVertical" >
        <li><a href="/">Catálogo</a></li>
        <li><a href="/productos/carritoCompra">Carrito de compra</a></li>
        <li><a href="/usuarios/perfilDeUsuario">Mi perfil</li>
    </ul>
</div>
