<!-- menu de lista productos  -->
<input type="checkbox" name="desplegar2" id="desplegar2" hidden>
<div class="model-overlay active" ><!--caja transparente-->
    <div class="modal"><!--caja blanca-->
        <div id="form">
            <h2>Lista de productos 2</h2>
            <form action="/CarritoCompra" method="get" id="formulario">
                <a href="/DetalleProducto">
                    <div class="productoLista">
                        <div class="eliminar">
                            <img src="/images/imagenesModal/cancel_black_24dp.svg" alt="">
                        </div>
                        <div>
                            <img src="/images/imagenesModal/ima.png" alt="imagen de product" class="imagenLista">
                        </div>
                        <div>
                            <p class="nombreLista">
                                Pro System Audiotek Tablero Arcade Videojuegos
                            </p>
                        </div>   
                    </div>
                </a>
                <a href="/DetalleProducto">
                    <div class="productoLista">
                        <div class="eliminar">
                            <img src="/images/imagenesModal/cancel_black_24dp.svg" alt="">
                        </div>
                        <div>
                            <img src="/images/imagenesModal/ima.png" alt="imagen de producto" class="imagenLista">
                        </div>
                        <div>
                            <p class="nombreLista">
                                Pro System Audiotek Tablero Arcade Videojuegos
                            </p>
                        </div>   
                    </div>
                </a>
                <a href="/DetalleProducto">
                    <div class="productoLista">
                        <div class="eliminar">
                            <img src="/images/imagenesModal/cancel_black_24dp.svg" alt="">
                        </div>
                        <div>
                            <img src="/images/imagenesModal/ima.png" alt="imagen de producto" class="imagenLista">
                        </div>
                        <div>
                            <p class="nombreLista">
                                Pro System Audiotek Tablero Arcade Videojuegos
                            </p>
                        </div>   
                    </div>
                </a>
                <div class="input-group actions">
                    <a href="/CarritoCompra" type="submit" class="botonPrimario">Ver carrito</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- menu de lista productos  -->