<footer id="piePagina">
    <div id="logoFooter">
        <a href="/">
            <img id="logo" src="/images/imagenesIndex/logo_48_x_48.svg"/>
        </a>
    </div>
    <ul>
        <li><a href="">EDUARDISHION SHOP</a></li>
        <li><a href="">AVISO DE PRIVACIDAD</a> </li>
        <li><a href="">TERMINOS DE SERVICIO</a></li>
        <!-- <li><a href="">POLITICA DE REENVOLSOS</a> </li>        -->
        <!-- <li><a href="">POLITICA DE REENVOLSOS</a> </li>
        <li><a href="">POLITICA DE ENVIOS</a> </li>  
        <li><a href="">TERMINOS DE SERVICIO</a></li>
        <li><a href="">POLITICA DE PRIVACIDAD</a> </li> -->
    </ul>
    <div id="redes-sociales">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
    </div>
</footer>