node_modules
.gitignore
1.webp
2.webp
3.webp
21.webp
22.webp
23.webp
24.webp
25.webp
26.webp
27.webp
capturas de pantalla/Captura de pantalla (629).png
capturas de pantalla/Captura de pantalla (630).png
capturas de pantalla/Captura de pantalla (631).png
.env
