<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/imagenesIndex/logo_16_x_16.svg" type="image/x-icon">
    <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!-- fuentes externas -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;600&display=swap" rel="stylesheet"> 
    <!-- hojas de estilo -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/DetalleProducto.css">
    <title>Index</title>
</head>
<body>
    <header id="encabesado">
        <img id="logo" src="images/imagenesIndex/logo_16_x_16.svg"/> 
        <nav id="barraNavegacion">
            <ul>
                <li><a href="Index">Index</a></li>
                <li><a href="DetalleProducto">Producto</a></li>
                <li><a href="CarritoCompra">Carrito</a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
            </ul>
        </nav>
        <div id="menuAmbuergesa">
            <label for="desplegar">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        <div id="logos">
            <img  id="logoSearch" src="images/imagenesIndex/search_white_24dp.svg"/>
            <img  id="logoShop" src="images/imagenesIndex/shopping_cart_white_24dp.svg"/>
            <img  id="logoShop" src="images/imagenesIndex/perm_identity_white_24dp.svg"/>
        </div>
    </header>
    <input type="checkbox" name="desplegar" id="desplegar" hidden>
    <ul id="menuVertical" >
        <li><a href="Index">Index</a></li>
        <li><a href="DetalleProducto">Producto</a></li>
        <li><a href="CarritoCompra">Carrito</a></li>
        <li><a href="#">Enlace</a></li>
        <li><a href="#">Enlace</a></li>
    </ul>
    <div id="locacionPagina">
        <p>Home > Producto</p>
    </div>
    <main id="areaPrincipal">
        <section id="vistaProducto">
        <!-- area imagenes -->
             <div> <!--para centrar despues en vista grande -->
                <article id="imagenProducto">
                    <img src="images/imagenesDetalleProducto/1.webp" alt="">
                </article>
                <article id="carrusel">
                    <div class=flecha>
                        <img src="images/imagenesIndex/chevron_left_black_24dp.svg" alt="" srcset="">
                    </div>
                    <img src="images/imagenesDetalleProducto/1.webp" alt="">
                    <img src="images/imagenesDetalleProducto/2.webp" alt="">
                    <img src="images/imagenesDetalleProducto/3.webp" alt="">
                    <img src="images/imagenesDetalleProducto/4.webp" alt="">
                    <div class=flecha>
                        <img src="images/imagenesIndex/chevron_right_black_24dp.svg" alt="" srcset="">
                    </div>
                </article>
            </div>
        <!-- area imagenes -->
        </section>
        <section id="vistaDescripcion">
        <!-- area descripcion -->
            <article id="descripcionProducto">
                <strong>
                    <h2>
                        Pro System Audiotek Tablero Arcade Videojuegos Consola de Videojuegos 3000+ Juegos Joystick Palanca Pandora 5s TV PC Gamer 2 Jugadores Tablero Arcade Multijuegos Pandora Box
                    </h2>
                </strong>
                <h4>
                    ID referencia: 235566 
                </h4>
                <div id="grados">
                    <div id="puntaje">
                        <img src="images/imagenesDetalleProducto/grade_black_24dp.svg" alt="" srcset="">
                        <img src="images/imagenesDetalleProducto/grade_black_24dp.svg" alt="" srcset="">
                        <img src="images/imagenesDetalleProducto/grade_black_24dp.svg" alt="" srcset="">
                        <img src="images/imagenesDetalleProducto/grade_black_24dp.svg" alt="" srcset="">
                        <img src="images/imagenesDetalleProducto/grade_black_24dp.svg" alt="" srcset="">
                        <p>(55)</p>
                    </div>
                </div>
                <div id="descripcion">
                    <p>
                        Disponible. 
                    </p>
                    <ul>
                        <li>3400 JUEGOS INCLUIDOS Con el Tablero arcadeodrás disfrutar de los juegos clásicos de todo tipo de género: Plataformas, Peleas, Carreras, Beat em Up, puzzles, etc.</li>
                        <li>PERFECTA PARA 1 O 2 JUGADORES El tablero aracde está diseñado para 1 o 2 personas, comparte la experiencia de revivir tus juegos favoritos.</li>
                        <li>ALTA DEFINICIÓN Este tablero arcade incluye salidas VGA, USB y tipo Jack, por lo que se puede conectar a una gran variedad de televisores o monitores.</li>
                        <li>DIVERSIÓN A DONDE QUIERA QUE VAYAS Este tablero arcade es un modelo portátil,la consola mide 63 cm de largo y 22 cm de ancho, dimensiones perfectas para transportar de manera sencilla.</li>
                        <li>INCREÍBLE DISEÑO RETRO El tablero arcade cuenta con 2 palancas y 12 botones para realizar distintos movimientos.</li>
                    </ul>
                    <br>
                </div>
            </article>
            <article id="CostoApagar">
                <div id="precios">
                    <h4>US$ 139.99</h4>
                    <h5>US$199.99</h5>
                    <h6>-30%</h6>
                </div>
                <p>Stock: 7</p>
                <p>Cantidad:</p>
                <div id="cantidad">
                    <div>-</div>
                    <div>10</div>
                    <div>+</div>
                </div>
                <br>
                <button class="botonPrimario">Agregar a carrito</button>
            </article>
        <!-- area descripcion -->
        </section>
    </main>
    <footer id="piePagina">
        <div id="logoFooter">
            <img id="logo" src="images/imagenesIndex/logo_48_x_48.svg"/> 
        </div>
        <ul>
            <li><a href="">EDUARDISHION SHOP</a></li>
            <li><a href="">AVISO DE PRIVACIDAD</a> </li>
            <li><a href="">TERMINOS DE SERVICIO</a></li>
            <!-- <li><a href="">POLITICA DE REENVOLSOS</a> </li>        -->
            <!-- <li><a href="">POLITICA DE REENVOLSOS</a> </li>
            <li><a href="">POLITICA DE ENVIOS</a> </li>  
            <li><a href="">TERMINOS DE SERVICIO</a></li>
            <li><a href="">POLITICA DE PRIVACIDAD</a> </li> -->
        </ul>
        <div id="redes-sociales">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </footer>
</body>
</html>