

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/imagenesIndex/logo_16_x_16.svg" type="image/x-icon">
    <title>Index</title>
    <link rel="stylesheet" href="estiloGaleria.css">
</head>
<body>
    <header></header>
    <main>
		<div id="central">
			<div id="titulos">
				<div class="galeria">
					<h2>Galería de imágenes</h2>
				</div>
			</div>
			<div id="borde">
			</div>
			<ul class="cat">
			  	<li>
					<a href="#">
						<img class="min" src="./img/1.jpg" alt="#">
						<img class="max" src="./img/max/1.jpg" alt="#">
					</a>
				</li>
			  	<li>
					<a href="#">
						<img class="min" src="./img/2.jpg" alt="#">
						<img class="max" src="./img/max/2.jpg" alt="#">
					</a>
				</li>
			  	<li>
					<a href="#">
						<img class="min" src="./img/3.jpg" alt="#">
						<img class="max" src="./img/max/3.jpg" alt="#">
					</a>
				</li>
			  	<li>
					<a href="#">
						<img class="min" src="./img/4.jpg" alt="#">
						<img class="max" src="./img/max/4.jpg" alt="#">
					</a>
				</li>
			</ul>
		</div>
    </main>
    <footer></footer>
</body>
</html>

