<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/imagenesIndex/logo_16_x_16.svg" type="image/x-icon">
    <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <!-- fuentes externas -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;600&display=swap" rel="stylesheet"> 
    <!-- hojas de estilo -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>
<body>
    <header id="encabesado">
        <img id="logo" src="images/imagenesIndex/logo_16_x_16.svg"/> 
        <nav id="barraNavegacion">
            <ul>
                <li><a href="index.html">Index</a></li>
                <li><a href="DetalleProducto.html">Producto</a></li>
                <li><a href="CarritoCompra.html">Carrito</a></li>
                <li><a href="#">Enlace</a></li>
                <li><a href="#">Enlace</a></li>
            </ul>
        </nav>
        <div id="menuAmbuergesa">
            <i class="fas fa-bars"></i>
        </div>
        <div id="logos">
            <img  id="logoSearch" src="images/imagenesIndex/search_white_24dp.svg"/>
            <img  id="logoShop" src="images/imagenesIndex/shopping_cart_white_24dp.svg"/>
            <img  id="logoShop" src="images/imagenesIndex/perm_identity_white_24dp.svg"/>
        </div>
    </header>
    <main id="areaPrincipal">
    <h1>index</h1>
    </main>
    <footer id="piePagina">
        <div id="logoFooter">
            <img id="logo" src="images/imagenesIndex/logo_48_x_48.svg"/> 
        </div>
        <ul>
            <li><a href="">EDUARDISHION SHOP</a></li>
            <li><a href="">AVISO DE PRIVACIDAD</a> </li>
            <li><a href="">TERMINOS DE SERVICIO</a></li>
            <!-- <li><a href="">POLITICA DE REENVOLSOS</a> </li>        -->
            <!-- <li><a href="">POLITICA DE REENVOLSOS</a> </li>
            <li><a href="">POLITICA DE ENVIOS</a> </li>  
            <li><a href="">TERMINOS DE SERVICIO</a></li>
            <li><a href="">POLITICA DE PRIVACIDAD</a> </li> -->
        </ul>
        <div id="redes-sociales">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </footer>
</body>
</html>