<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="archivo.css">
</head>
<body>
    <div id="contendedorVista">
    </div>
    <article id="carrusel">
        <div class="flecha">
            <img src="./img/chevron_left_black_24dp.svg" alt="" srcset="">
        </div>
        <ul>
            <li>
                <a href="#">
                    <img class="min" src="./img/21.webp" alt="">
                    <img class="max" src="./img/21.webp" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="min" src="./img/22.webp" alt="">
                    <img class="max" src="./img/22.webp" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="min" src="./img/23.webp" alt="">
                    <img class="max" src="./img/23.webp" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="min" src="./img/24.webp" alt="">
                    <img class="max" src="./img/24.webp" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="min" src="./img/25.webp" alt="">
                    <img class="max" src="./img/25.webp" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="min" src="./img/21.webp" alt="">
                    <img class="max" src="./img/21.webp" alt="">
                </a>
            </li>
        </ul>
        <div class="flecha">
            <img src="./img/chevron_right_black_24dp.svg" alt="" srcset="">
        </div>
    </article>
</body>
</html>